@import "nprogress/nprogress.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "./reset.scss";
@import "./vars.scss";

#app {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-background);
}

.pointer {
  cursor: pointer;
}

#nprogress .bar {
  background: var(--color-primary);
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--color-primary), 0 0 5px var(--color-primary);
}

#nprogress .spinner {
  display: none;
}
