@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --color-primary: #F4A706;
  --color-secondary: #9DBC42;
  --color-background: #fff;
  --color-background-variant: #F5F5F5;
  --color-text: #242424;
  --color-title: #4F535C;
}

#app {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-background);
}