:root {
  --color-primary: #f4a706;
  --color-secondary: #9dbc42;
  --color-secondary-hover: hsl(75, 48%, 47%);
  --color-background: #fff;
  --color-background-variant: #f5f5f5;
  --color-text: #242424;
  --color-title: #4f535c;
  --swiper-theme-color: var(--color-primary) !important;
}
